<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />  
    
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <title><%= title %></title>
  </head>

  <body>
    <%- include("navbar") %>

    <div class="container-fluid" style="margin-top:20px">
      <h1><%= title %></h1>
      <div class="canvas-holder" style="width:40%;">
        <canvas id="livedead-area"></canvas>
      </div>
      <div class="canvas-holder" style="width:80%;">
        <canvas id="categories-area"></canvas>
      </div>
  
  <script>
    window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };

		var livedeadpie = {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						<%= data.analysis.all.live%>,
						<%= data.analysis.all.killed%>,
						
					],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
					],
					label: 'Live vs Dead'
				}],
				labels: [
					'Live',
					'Dead',
				]
			},
			options: {
        responsive: true,
        title: {
          display: true,
          text: 'Live/Dead proportion of <%= data.analysis.all.violations %> mutants'
        }
			}
    }	
    
    var categoriesbar = {
        type: 'bar',
        data: {
        labels: [<% for(var i in data.analysis.categories){%>"<%=data.analysis.categories[i].name%>"<%if(i != data.analysis.categories.length -1){%>,<%}%><%}%>],
        datasets: [
        {
          label: "Live",
          backgroundColor: window.chartColors.green,
          data: [<% for(var i in data.analysis.categories){%><%=data.analysis.categories[i].live%><%if(i != data.analysis.categories.length -1){%>,<%}%><%}%>]
        }, {
          label: "Dead",
          backgroundColor: window.chartColors.red,
          data: [<% for(var i in data.analysis.categories){%><%=data.analysis.categories[i].killed%><%if(i != data.analysis.categories.length -1){%>,<%}%><%}%>]
        }
      ]
      },
			options: {
        legend: { display: true },
        title: {
          display: true,
          text: 'Live/Dead by Mutation Class'
        }
      }
    };
    
		window.onload = function() {
			var livedeadchart = document.getElementById('livedead-area').getContext('2d');
      var categorieschart = document.getElementById('categories-area').getContext('2d');
      
			window.livedead = new Chart(livedeadchart, livedeadpie);
			window.categories = new Chart(categorieschart, categoriesbar);
		};
	</script>

    </div>
  </body>
</html>
