<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="/javascripts/main.js"></script>

    <title><%= title %></title>
  </head>

  <body>
    <%- include("navbar") %>

    <div class="container-fluid">
      <h1 class="float-left"><%= title %></h1>
      <button style="margin: 9px 0px 0px 25px" type="button" class="btn btn-primary" onclick="document.location='/run'">Rerun test</button>
         
      <table class="table display" id="mutants">
         <thead>
            <tr class="thead-dark">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Class</th>
              <th scope="col">Violation Triggered</th>
              <th scope="col">Live Mutants Found</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in mutations){%>
              <tr class="">
                <td><%= mutations[i].id%></td>
                <td><%= mutations[i].name%></td>
                <td><%= mutations[i].description%></td>
                <td><%= mutations[i].class%></td>
                <td><%= mutations[i].violations%></td>
                <td><%= mutations[i].live%></td>
              </tr> 
            
          <%}%>  
          </tbody>
          </table>
        
        </div>
          
    </div>
  </body>
</html>
