<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <title>Violation Summary</title>
  </head>

  <body>
    <div class="container-fluid" style="margin-top:20px">
      <h1>Violation Summary</h1>
      <h2>Axe Violation count:<%= JSON.stringify(axe.violationsCount)%></h2>
      <br>
      <table class="table display" id="violations">
         <thead>
            <tr class="thead-dark">
              <th scope="col">ID</th>
              <th scope="col">Help</th>
              <th scope="col">Description</th>
              <th scope="col">Help url</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in axe.raw){%>
              <tr class="">
                <td><%= axe.raw[i].id%></td>
                <td><%= axe.raw[i].help%></td>
                <td><%= axe.raw[i].description%></td>
                <td><%= axe.raw[i].helpUrl%></td>
              </tr> 
            
          <%}%>  
          </tbody>  
      </table>

      <hr>
      <h2>pa11y Violation count:<%= JSON.stringify(pa11y.violationsCount)%></h2>
      <br>
      <table class="table display" id="violations">
         <thead>
            <tr class="thead-dark">
              <th scope="col">Code</th>
              <th scope="col">Help</th>
              <th scope="col">Context</th>
              <th scope="col">Selector</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in pa11y.raw){%>
              <tr class="">
                <td><%= pa11y.raw[i].code%></td>
                <td><%= pa11y.raw[i].message%></td>
                <td><%= pa11y.raw[i].context%></td>
                <td><%= pa11y.raw[i].selector%></td>
              </tr> 
            
          <%}%>  
          </tbody>
          </table>

    
    </div>

  </body>
  </html>
