<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/html-header") %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> 
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
   
    <title>Mutation Summary</title>

  </head>

  <body>
    <div class="container-fluid" style="margin-top:20px">
      <h1 class="float-left">Viable Mutants</h1>
         
      <table class="table display" id="viable-mutants">
         <thead>
            <tr class="thead-dark">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Class</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in viableMutations){%>
              <tr class="">
                <td><%= viableMutations[i].id%></td>
                <td><%= viableMutations[i].name%></td>
                <td><%= viableMutations[i].description%></td>
                <td><%= viableMutations[i].class%></td>
              </tr> 
            
          <%}%>  
          </tbody>
          </table>
        
        </div>
          
    </div>

    <div class="container-fluid" style="margin-top:20px">
      <h1 class="float-left">Non-Vaible Mutants</h1>
         
      <table class="table display" id="mutants">
         <thead>
            <tr class="thead-dark">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Class</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in nonViableMutations){%>
              <tr class="">
                <td><%= nonViableMutations[i].id%></td>
                <td><%= nonViableMutations[i].name%></td>
                <td><%= nonViableMutations[i].description%></td>
                <td><%= nonViableMutations[i].class%></td>
              </tr> 
            
          <%}%>  
          </tbody>
          </table>
        
        </div>

    <div class="container-fluid" style="margin-top:20px">
      <h1 class="float-left">All Mutants</h1>
         
      <table class="table display" id="mutants">
         <thead>
            <tr class="thead-dark">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Class</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in allMutations){%>
              <tr class="">
                <td><%= allMutations[i].id%></td>
                <td><%= allMutations[i].name%></td>
                <td><%= allMutations[i].description%></td>
                <td><%= allMutations[i].class%></td>
              </tr> 
            
          <%}%>  
          </tbody>
          </table>
        
        </div>
  </body>
  <script>
  $(document).ready(function () {
  $('#viable-mutants').DataTable({
    paging: true,
  });
  $('#mutants').DataTable({
    paging: true,
  });
});
  </script>
</html>
